Repository gryffon/ringteki, pull requests merged in 2018-07, with the labels that each got.

#2155 revert game.js change from for loop to _.each
  server/game/game.js
Labels: bug

#2133 Fix declare conflict prompt
  server/game/gamesteps/conflict/initiateconflictprompt.js
  test/server/gamesteps/initiateconflictprompt.spec.js
Labels: bug

#2138 facedown cards shouldn't be playable
  server/game/duplicateuniqueaction.js
  server/game/dynastycardaction.js
Labels: bug

#2134 Fix Tadakatsu stopping rings from becoming contested
  server/game/gamesteps/conflict/conflictflow.js
Labels: bug

#2090 TL: Upholding Authority
  server/game/GameActions/CardGameAction.js
  server/game/cards/04.2-TL/UpholdingAuthority.js
  server/game/gamesteps/handlermenuprompt.js
  test/server/cards/04.2-TL/UpholdingAuthority.spec.js
Labels: new card

#2165 Harmonize bugfix
  server/game/cards/02.2-FHaG/Harmonize.js
Labels: bug

#2163 fix Mirror's Gaze bug
  server/game/CardAbility.js
  test/server/cards/04.1-BotK/TheMirrorsGaze.spec.js
Labels: bug

#2162 Bug fix for Kyuden Isawa and Player.drop
  server/game/GameActions/PlayCardAction.js
  server/game/basecard.js
  server/game/game.js
Labels: bug

#2147 TL: Adopted Kin
  server/game/cards/04.2-TL/AdoptedKin.js
  test/server/cards/04.2-TL/AdoptedKin.spec.js
Labels: new card

#2143 TL: Spreading the Darkness
  server/game/cards/04.2-TL/SpreadingTheDarkness.js
  test/server/cards/04.2-TL/SpreadingTheDarkness.spec.js
Labels: new card

#2137 TL: Tainted Koku
  server/game/cards/04.2-TL/TaintedCurrency.js
  server/game/cards/04.2-TL/TaintedKoku.js
  test/server/cards/04.2-TL/TaintedKoku.js
Labels: new card

#2136 TL: Sabotage
  server/game/cards/04.2-TL/Sabotage.js
Labels: new card

#2135 TL: Apprentice EarthCaller
  server/game/cards/04.2-TL/ApprenticeEarthcaller.js
  test/server/cards/04.2-TL/ApprenticeEarthcaller.spec.js
Labels: new card

#2131 TL: Press of Battle
  server/game/cards/04.2-TL/PressOfBattle.js
Labels: new card

#2130 TL: Ikoma Reservist
  server/game/cards/04.2-TL/IkomaReservist.js
  test/server/cards/04.2-TL/IkomaReservist.spec.js
Labels: new card

#2129 TL: Court Novice
  server/game/cards/04.2-TL/CourtNovice.js
  test/server/cards/04.2-TL/CourtNovice.spec.js
Labels: new card

#2128 TL: Writ of Authority
  server/game/cards/04.2-TL/WritOfAuthority.js
  test/server/cards/04.2-TL/WritOfAuthority.spec.js
Labels: new card

#2127 TL: Impulsive Novice
  server/game/cards/04.2-TL/ImpulsiveNovice.js
  test/server/cards/04.2-TL/ImpulsiveNovice.spec.js
Labels: new card

#1937 TL: Sneaky Shinjo
  server/game/cards/01-Core/KeeperInitiate.js
  server/game/cards/02.6-MotE/ShinjoScout.js
  server/game/cards/04.2-TL/SneakyShinjo.js
  server/game/drawcard.js
  server/game/gamesteps/dynasty/dynastyactionwindow.js
  test/server/cards/04.2-TL/SneakyShinjo.spec.js
  test/server/cards/cancreatecards.spec.js
Labels: new card

#2140 TL: Asahina Takako
  client/GameComponents/Province.jsx
  server/game/Effects/CardEffect.js
  server/game/GameActions/ChooseGameAction.js
  server/game/GameActions/GameAction.js
  server/game/GameActions/GameActions.js
  server/game/GameActions/JointGameAction.js
  server/game/cards/02.5-FHNS/ConsumedByFiveFires.js
  server/game/cards/04.2-TL/AsahinaTakako.js
  test/server/cards/04.2-TL/AsahinaTakako.spec.js
Labels: new card

#1928 TL: Marauding Oni
  server/game/cards/04.2-TL/MaraudingOni.js
  test/server/cards/04.1-BotK/FuSuiDisciple.spec.js
  test/server/cards/04.1-BotK/SoshiShadowshaper.spec.js
  test/server/cards/04.2-TL/MaraudingOni.spec.js
Labels: new card

#2098 TL: Kuni Yori
  server/game/cards/04.2-TL/KuniYori.js
Labels: new card

#2028 TL: Feral Ningyo
  server/game/cards/04.2-TL/FeralNingyo.js
  test/server/cards/04.2-TE/FeralNingyo.spec.js
Labels: new card

#2188 Serialization bug fix
  server/game/GameActions/CardGameAction.js
  server/game/GameActions/RingAction.js
Labels: bug

#2190 add serialization checks to test suite
  server/gamenode/gameserver.js
  server/util.js
  test/helpers/gameflowwrapper.js
  test/helpers/playerinteractionwrapper.js
Labels: tests

#2195 Tetsu Typo
  server/game/cards/03-DotV/ShibaTetsu.js
Labels: bug

#2239 Fix ancestral bug
  server/game/Events/LeavesPlayEvent.js
Labels: bug

#2226 Change target checks to look for a 'targets' property
  server/game/AbilityTargets/AbilityTargetAbility.js
  server/game/AbilityTargets/AbilityTargetCard.js
  server/game/CardSelectors/BaseCardSelector.js
  server/game/cards/01-Core/CourtGames.js
  server/game/cards/01-Core/WayOfTheCrab.js
  server/game/cards/02.2-FHaG/FrostbittenCrossing.js
  server/game/cards/03-DotV/HidaAmoro.js
  server/game/cards/03-DotV/KarmicTwist.js
Labels: bug

#2225 Refactor conflict opportunities
  docs/implementing-cards.md
  server/game/cards/01-Core/Breakthrough.js
  server/game/cards/01-Core/HidaKisada.js
  server/game/cards/01-Core/MeddlingMediator.js
  server/game/cards/01-Core/MotoYouth.js
  server/game/cards/02.4-TCT/CurryFavor.js
  server/game/effects.js
  server/game/game.js
  server/game/gamesteps/phase.js
  server/game/player.js
Labels: bug

#2221 Tainted Koku Fix
  server/game/cards/04.2-TL/TaintedKoku.js
  test/server/cards/04.2-TL/TaintedKoku.spec.js
Labels: bug

#2218 Bug fixes for Toturi, Hotaru, Spies and StD
  server/game/GameActions/RandomDiscardAction.js
  server/game/cards/01-Core/AkodoToturi.js
  server/game/cards/01-Core/DojiHotaru.js
  server/game/cards/04.2-TL/SpreadingTheDarkness.js
  test/server/cards/01-Core/YoungRumormonger.spec.js
  test/server/cards/04.2-TL/SpreadingTheDarkness.spec.js
Labels: bug

#2215 Fix incompatibilities between Embrace the Void and YR
  server/game/cards/01-Core/YoungRumormonger.js
  server/game/cards/02.1-ToA/EmbraceTheVoid.js
Labels: bug

#2214 change 'reveal' to 'look at'
  server/game/GameActions/LookAtAction.js
  server/game/cards/01-Core/IuchiWayfinder.js
  server/game/cards/02.1-ToA/MeekInformant.js
  test/server/cards/01-Core/IuchiWayfinder.spec.js
Labels: bug

#2212 Rework ability restrictions
  server/game/cannotrestriction.js
  server/game/cards/01-Core/AboveQuestion.js
  server/game/cards/01-Core/BorderlandsDefender.js
  server/game/cards/01-Core/DoomedShugenja.js
  server/game/cards/01-Core/GraspOfEarth.js
  server/game/cards/01-Core/GuestOfHonor.js
  server/game/cards/02.1-ToA/HitoDistrict.js
  server/game/cards/02.1-ToA/IsawaKaede.js
  server/game/cards/02.1-ToA/KitsukiYaruma.js
  server/game/cards/02.2-FHaG/NorthernWallSensei.js
  server/game/cards/02.3-ItFC/ChiseiDistrict.js
  server/game/cards/02.5-FHNS/MasterOfGiseiToshi.js
  server/game/cards/03-DotV/ClarityOfPurpose.js
  server/game/cards/03-DotV/IsawaTadaka.js
  server/game/cards/03-DotV/KaitoTempleProtector.js
  server/game/cards/04.1-BotK/SacredSanctuary.js
  server/game/cards/04.2-TL/SpreadingTheDarkness.js
  server/game/effects.js
Labels: Experimental code

#2196 Add effect text to my TL cards
  server/game/cards/04.2-TL/MaraudingOni.js
  server/game/cards/04.2-TL/SpreadingTheDarkness.js
  server/game/cards/04.2-TL/UpholdingAuthority.js
Labels: bug

#2207 Lasting effects should check potential to change game state
  server/game/Effects/Effect.js
  server/game/Effects/StaticEffect.js
  server/game/GameActions/LastingEffectCardAction.js
  server/game/effects.js
Labels: Experimental code

#2220 Fix fetch script (promo cards)
  server/scripts/fetchdata.js
Labels: bug

#2223 TFW: Insult to Injury
  server/game/Duel.js
  server/game/cards/04.3-TFW/InsultToInjury.js
  server/game/gamesteps/DuelFlow.js
Labels: new card

#2216 Shiksha scout
  server/game/cards/04.3-TFW/ShikshaScout.js
  test/server/cards/04.3-TFW/ShikshaScout.spec.js
Labels: new card

#2213 TFW: Mantis Seafarer
  server/game/cards/04.3-TFW/MantisSeafarer.js
  test/server/cards/04.3-TFW/MantisSeafarer.spec.js
Labels: new card

#2211 TFW: Breach of Etiquette
  server/game/cards/04.3-TFW/BreachOfEtiquette.js
  server/game/cards/04.3-TFW/BreachOfProtocol.js
  test/server/cards/04.3-TFW/BreachOfEtiquette.spec.js
  test/server/cards/04.3-TFW/BreachOfProtocol.spec.js
Labels: new card

#2210 TFW: Jurojin's Curse
  server/game/cards/04.3-TFW/JurojinsCurse.js
  test/server/cards/04.3-TFW/JurojinsCurse.spec.js
Labels: new card

#2159 TFW: Invocation of Ash
  server/game/cards/04.3-TFW/InvocationOfAsh.js
  test/server/cards/04.3-TFW/InvocationOfAsh.spec.js
Labels: new card

#2151 TFW: Hiruma Kogoe
  server/game/cards/04.3-TFW/HirumaKogoe.js
  test/server/cards/04.3-TFW/HirumaKogoe.spec.js
Labels: new card

#2268 Ancestral bugfix
  server/game/Events/Event.js
  server/game/Events/LeavesPlayEvent.js
Labels: bug

#2267 Pillowbook bugfix
  server/game/cards/02.6-MotE/PillowBook.js
Labels: bug

#2265 Update Shosuro Miyako to work with Artisan Academy
  server/game/Events/InitiateAbilityEventWindow.js
  server/game/cannotrestriction.js
  server/game/cards/01-Core/GraspOfEarth.js
  server/game/cards/01-Core/ShosuroMiyako.js
  server/game/cards/02.3-ItFC/BackAlleyHideaway.js
  server/game/cards/03-DotV/DojiShigeru.js
  server/game/drawcard.js
  server/game/dynastycardaction.js
  server/game/playattachmentaction.js
  server/game/playcharacteraction.js
Labels: bug

#2264 Grasp of Earth bugfix
  server/game/cards/01-Core/GraspOfEarth.js
Labels: bug

#2263 Cannot restriction bug fix
  server/game/cannotrestriction.js
Labels: bug

#2217 TEaF: Heroic resolve
  server/game/cards/04.4-TEaF/HeroicResolve.js
  test/server/cards/04.4-TEaF/HeroicResolve.spec.js
Labels: new card

#2154 TEaF: Deceptive Offer
  server/game/cards/04.4-TEaF/DeceptiveOffer.js
  test/server/cards/04.4-TEaF/DeceptiveOffer.spec.js
Labels: new card

#2152 TEaF: Tireless Sodan Senzo
  server/game/cards/04.4-TEaF/TirelessSodanSenzo.js
  test/server/cards/04.4-TEaF/TirelessSodanSenzo.spec.js
Labels: new card

#2150 TEaF: Seeking the Truth
  server/game/cards/04.4-TEaF/SeekingtheTruth.js
  test/server/cards/04.4-TEaF/SeekingTheTruth.spec.js
Labels: new card

#2035 TEaF: Volcanic Troll
  server/game/cards/04.4-TEaF/VolcanicTroll.js
  test/server/cards/04.4-TEaF/VolcanicTroll.spec.js
Labels: new card

#2292 Flooded Waste implementation
  server/game/cards/04.4-TEaF/FloodedWaste.js
Labels: new card

#2304 remove red outline from stronghold
  server/game/gamesteps/setup/setupprovincesprompt.js
Labels: bug

#2307 Kaito TP test
  test/server/cards/03-DotV/KaitoTempleProtector.spec.js
Labels: tests

#2338 FlipDynastyAction bugfix
  server/game/GameActions/FlipDynastyAction.js
  server/game/cards/04.4-TEaF/HiddenMoonDojo.js
Labels: bug

#2333 Breach of Etiquette bugfix
  server/game/cards/04.3-TFW/BreachOfEtiquette.js
Labels: bug

#2329 Hida Amoro bugfix
  server/game/cards/03-DotV/HidaAmoro.js
  test/server/cards/03-DotV/HidaAmoro.spec.js
Labels: bug

#2328 Bayushi Kachiko bugfix
  server/game/CardAbility.js
  server/game/Events/InitiateAbilityEventWindow.js
  server/game/ThenAbility.js
  server/game/gamesteps/abilityresolver.js
  test/server/cards/02.3-ItFC/BayushiKachiko.spec.js
  test/server/gamesteps/abilityresolver.spec.js
Labels: bug

#2327 Shosuro Actress bugfix
  server/game/cards/01-Core/ShosuroActress.js
Labels: bug

#2325 GameAction bugfix
  server/game/GameActions/GameAction.js
Labels: bug

#2324 MoGT bugfix
  server/game/cannotrestriction.js
  test/server/cards/02.5-FHNS/MasterOfGiseiToshi.spec.js
Labels: bug

#2308 bugfixes for Cav Reserves and Demonstrating Excellence
  server/game/CardSelectors/MaxStatCardSelector.js
  server/game/cards/04.1-BotK/DemonstratingExcellence.js
Labels: bug

#2337 AaN: Imperial Librarian
  server/game/cards/04.5-AaN/ImperialLibrarian.js
  test/server/cards/04.5-AaN/ImperialLibrarian.spec.js
Labels: new card

#2336 AaN: Discourage Pursuit
  server/game/cards/04.5-AaN/DiscouragePursuit.js
  test/server/cards/04.5-AaN/DiscouragePursuit.spec.js
Labels: new card

#2332 AaN: Bustling Academy
  server/game/cards/04.5-AaN/BustlingAcademy.js
  test/server/cards/04.5-AaN/BustlingAcademy.spec.js
Labels: new card

#2330 AaN: Iuchi Shahai
  server/game/basecard.js
  server/game/cards/04.5-AaN/IuchiShahai.js
  test/server/cards/04.5-AaN/IuchiShahai.spec.js
Labels: new card

#2322 AaN: Raging battleground
  server/game/cards/04.5-AaN/RagingBattleground.js
  test/server/cards/04.5-AaN/RagingBattleground.spec.js
Labels: new card

#2320 AaN: Void Fist
  server/game/cards/04.5-AaN/VoidFist.js
  test/server/cards/04.5-AaN/VoidFist.spec.js
Labels: new card

#2318 AaN: Togashi Mitsu
  server/game/GameActions/PlayCardAction.js
  server/game/cards/04.5-AaN/TogashiMitsu.js
  test/server/cards/04.5-AaN/TogashiMitsu.spec.js
Labels: new card

#2317 AaN: Tactician's Apprentice
  server/game/cards/04.5-AaN/TacticiansApprentice.js
  test/server/cards/04.5-AaN/TacticiansApprentice.spec.js
Labels: new card

#2306 AaN: Callow delegate
  server/game/cards/04.5-AaN/CallowDelegate.js
  test/server/cards/04.5-AaN/CallowDelegate.spec.js
Labels: new card

#2299 AaN: Dispatch
  server/game/cards/04.5-AaN/Dispatch.js
  test/server/cards/04.5-AaN/Dispatch.spec.js
Labels: new card

#2298 AaN: Matsu Mitsuko
  server/game/cards/04.5-AaN/MatsuMitsuko.js
  test/server/cards/04.5-AaN/MatsuMitsuko.spec.js
Labels: new card

#2297 AaN: Mark of Shame
  server/game/cards/04.5-AaN/MarkOfShame.js
  test/server/cards/04.5-AaN/MarkOfShame.spec.js
Labels: new card

#2284 AaN: Ethereal Dreamer
  server/game/cards/04.5-AaN/EtherealDreamer.js
  test/server/cards/04.5-AaN/EtherealDreamer.spec.js
Labels: new card

#2238 AaN: Game of Sadane - card and tests
  server/game/cards/04.5-AaN/GameOfSadane.js
  test/server/cards/04.5-AaN/GameOfSadane.spec.js
Labels: new card

#2185 AaN: Shosuro Sadako
  server/game/cards/04.5-AaN/ShosuroSadako.js
  server/game/drawcard.js
  server/game/effects.js
  test/server/cards/04.5-AaN/ShosuroSadako.spec.js
Labels: new card

#2346 Meek Informant bugfix
  server/game/cards/02.1-ToA/MeekInformant.js
Labels: bug

#2347 bugfix BA Hideaway
  server/game/cards/02.3-ItFC/BackAlleyHideaway.js
Labels: bug

#2368 AaN: All and Nothing
  server/game/GameActions/ResolveConflictRingAction.js
  server/game/GameActions/ResolveElementAction.js
  server/game/cards/04.5-AaN/AllAndNothing.js
  test/server/cards/04.5-AaN/AllAndNothing.spec.js
Labels: new card

#2348 Nezumi Infiltrator bugfix
  server/game/GameActions/ChooseGameAction.js
  server/game/cards/04.4-TEaF/NezumiInfiltrator.js
Labels: bug

#2349 Teaching of the Elements bugfix
  server/game/cards/04.2-TL/TeachingOfTheElements.js
Labels: bug

#2350 Feral Ningyo: additional tests
  test/server/cards/04.2-TL/FeralNingyo.spec.js
Labels: tests

#2360 CtM: bugfix and added test
  server/game/cards/01-Core/CloudTheMind.js
  test/server/cards/01-Core/CloudTheMind.spec.js
Labels: bug, tests

#2373 Soshi Shiori bugfix
  server/game/cards/04.3-TFW/SoshiShiori.js
  test/server/cards/04.3-TFW/AbandoningHonor.spec.js
Labels: bug

#2375 Bustling Academy bugfix
  server/game/cards/04.5-AaN/BustlingAcademy.js
  test/server/cards/04.5-AaN/BustlingAcademy.spec.js
Labels: bug

#2376 Void Fist fix
  server/game/cards/04.5-AaN/VoidFist.js
Labels: bug
