Repository gryffon/ringteki, pull requests merged in 2018-04, with the labels that each got.

#1785 refactor findAndUseAction into initiateCardAction
  server/game/costs.js
  server/game/game.js
  server/game/gamesteps/actionwindow.js
  server/game/player.js
  test/server/card/drawcard.hasKeyword.spec.js
  test/server/cards/01-Core/Blackmail.spec.js
  test/server/cards/01-Core/CallingInFavors.spec.js
  test/server/cards/01-Core/Charge.spec.js
  test/server/dynastycardaction.spec.js
  test/server/player/playcard.spec.js
Labels: bug

#1784 Change phase transitions so that they check game state
  server/game/gamesteps/phase.js
Labels: bug

#1783 Talisman of the Sun bugfix
  server/game/cards/02.6-MotE/TalismanOfTheSun.js
  server/game/gamesteps/conflict/conflictflow.js
  test/server/cards/01-Core/CautiousScout.spec.js
Labels: bug

#1782 Fix chat message on Shoju's delayed effect
  server/game/cards/01-Core/BayushiShoju.js
Labels: bug

#1781 Curry Favor bugfix
  server/game/cards/02.4-TCT/CurryFavor.js
Labels: bug

#1780 add a loop counter to checkEffects to stop looping infinitely
  server/game/effectengine.js
Labels: bug

#1779 Pacificism bug fix
  server/game/conflict.js
  test/server/conflict/determinewinner.spec.js
  test/server/conflict/removefromconflict.spec.js
Labels: bug

#1789 Isawa Kaede bugfix and test
  server/game/conflict.js
  test/server/cards/02.1-ToA/IsawaKaede.spec.js
Labels: bug

#1788 CheckEffects fix and more debug info
  server/game/DelayedEffect.js
  server/game/effect.js
  server/game/effectengine.js
  server/game/gamesteps/conflictphase.js
  server/gamenode/gameserver.js
Labels: bug

#1787 fix show deck bug and remove unneeded info from game state
  server/game/drawcard.js
  server/game/game.js
  server/game/player.js
  server/game/provincecard.js
  test/server/card/drawcard.getsummary.spec.js
Labels: bug

#1776 Wholeness of the World
  server/game/cards/01-Core/KnowTheWorld.js
  server/game/cards/03-DotV/WholenessOfTheWorld.js
  server/game/game.js
  server/game/gamesteps/regroupphase.js
  test/server/cards/cancreatecards.spec.js
Labels: don't merge, new card

#1775 Ikoma Tsanuri
  server/game/cards/03-DotV/IkomaTsanuri.js
Labels: new card

#1774 Walking The Way
  server/game/cards/03-DotV/WalkingTheWay.js
Labels: new card

#1778 Doji Shigeru
  server/game/cards/03-DotV/DojiShigeru.js
Labels: new card

#1772 Kharmic Twist ability coded
  server/game/cards/03-DotV/KarmicTwist.js
Labels: new card

#1756 Kaito Temple Protector
  server/game/cards/03-DotV/KaitoTempleProtector.js
Labels: new card

#1755 Isawa Tadaka
  server/game/cards/03-DotV/IsawaTadaka.js
Labels: new card

#1751 Path of Man
  server/game/cards/02.5-FHNS/Fair Accord.js
  server/game/cards/03-DotV/ThePathOfMan.js
Labels: new card

#1750 Added clarity of purpose
  server/game/cards/03-DotV/ClarityOfPurpose.js
Labels: new card

#1749 Added favor of the kami
  server/game/cards/03-DotV/FavorOfTheKami.js
Labels: new card

#1741 Inquisitive Ishika
  server/game/cards/03-DotV/InquisitiveIshika.js
  server/game/cards/03-DotV/InquisitiveIshka.js
Labels: new card

#1733 Fire Elemental Guard
  server/game/cards/03-DotV/FireElementalGuard.js
Labels: new card

#1729 Kami Unleashed
  server/game/cards/03-DotV/KamiUnleashed.js
Labels: new card

#1728 Guardian Kami
  server/game/cards/03-DotV/GuardianKami.js
Labels: new card

#1720 Sanpuku Seido Implementation
  server/game/cards/03-DotV/SanpukuSeido.js
Labels: new card

#1684 Secluded Shrine
  server/game/cards/01-Core/BornInWar.js
  server/game/cards/01-Core/ElementalFury.js
  server/game/cards/01-Core/KnowTheWorld.js
  server/game/cards/01-Core/KuroiMori.js
  server/game/cards/01-Core/SeekerOfEnlightenment.js
  server/game/cards/01-Core/ShibaTsukune.js
  server/game/cards/01-Core/SolemnScholar.js
  server/game/cards/01-Core/WayOfThePhoenix.js
  server/game/cards/02.1-ToA/JadeMasterpiece.js
  server/game/cards/02.3-ItFC/ChasingTheSun.js
  server/game/cards/02.3-ItFC/ProdigyOfTheWaves.js
  server/game/cards/02.5-FHNS/HenshinDisciple.js
  server/game/cards/02.6-MotE/WrittenInTheStars.js
  server/game/cards/03-DotV/SecludedShrine.js
  server/game/costs.js
  server/game/effect.js
  server/game/effects.js
  server/game/gamesteps/conflict/initiateconflictprompt.js
  server/game/player.js
  server/game/ring.js
Labels: don't merge, new card

#1442 add putSelfIntoPlay cost
  server/game/costs.js
  server/game/costs/CostBuilders.js
Labels: new card

#1651 Pacifist Philosopher Implementation
  server/game/cards/03-DotV/PacifistPhilosopher.js
Labels: new card

#1699 Togashi Tadakatsu
  server/game/cards/03-DotV/TogashiTadakatsu.js
  server/game/conflict.js
  server/game/effects.js
  server/game/gamesteps/conflict/conflictflow.js
  server/game/gamesteps/conflict/initiateconflictprompt.js
  server/game/gamesteps/conflictphase.js
Labels: don't merge, new card

#1477 Add a Removed From Game pile
  client/GameBoard.jsx
  client/GameComponents/DynastyRow.jsx
  client/GameComponents/Placeholder.jsx
  client/GameComponents/StrongholdRow.jsx
  less/cards.less
  less/gameboard/card-pile.less
  less/gameboard/discard.less
  less/gameboard/placeholder.less
  less/variables.less
  server/game/player.js
Labels: new card

#1485 Kyuden Isawa
  server/game/cards/03-DotV/KyudenIsawa.js
Labels: new card

#1730 Moto Nergui
  server/game/cards/03-DotV/MotoNergui.js
Labels: new card

#1597 Shiba tetsu implementation
  server/game/cards/03-DotV/ShibaTetsu.js
  server/game/gamesteps/triggeredabilitywindow.js
  test/server/cards/03-DotV/ShibaTetsu.spec.js
Labels: new card

#1574 Katana of Fire implementation.
  server/game/cards/03-DotV/KatanaOfFire.js
  test/server/cards/03-DotV/KatanaOfFire.spec.js
Labels: don't merge, new card

#1464 Implemented Fushicho
  server/game/cards/03-DotV/Fuchisho.js
Labels: new card

#1481 Implemented Yogo Kikuyo
  server/game/cards/03-DotV/YogoKikuyo.js
Labels: new card

#1798 Bug fixes for Kyuden Isawa, Doji Shigeru and Togashi Tadakatsu
  server/game/cards/01-Core/GuidanceOfTheAncestors.js
  server/game/cards/03-DotV/DojiShigeru.js
  server/game/gamepipeline.js
  server/game/gamesteps/actionwindow.js
  server/game/gamesteps/conflict/conflictflow.js
  test/server/cards/03-DotV/KyudenIsawa.spec.js
Labels: bug

#1811 Sentry issue RINGTEKI-RF fix
  server/game/player.js
Labels: bug

#1812 Henshin Disciple bug fix
  server/game/gamesteps/conflict/conflictflow.js
  test/server/cards/02.5-FHNS/HenshinDisciple.spec.js
Labels: bug

#1817 Fix role restriction validation bug
  server/services/CardService.js
Labels: bug

#1818 High Kick bugfix
  server/game/cards/02.2-FHaG/HighKick.js
Labels: bug

#1814 Fix duels to cope with a character dying mid-duel
  server/game/Duel.js
  server/game/cards/01-Core/DuelistTraining.js
  server/game/cards/01-Core/KakitaKaezin.js
  server/game/cards/01-Core/MirumotoRaitsugu.js
  server/game/cards/02.2-FHaG/PolicyDebate.js
Labels: bug

#1822 Kyuden Isawa bugfix
  server/game/cards/03-DotV/KyudenIsawa.js
  test/server/cards/02.3-ItFC/FeastorFamine.spec.js
Labels: bug

#1823 Actions are no longer unregistered
  server/game/effects.js
Labels: bug

#1824 Sentry bug fixes
  server/game/cards/03-DotV/GuardianKami.js
  server/game/cards/03-DotV/KamiUnleashed.js
  server/game/gamesteps/abilityresolver.js
  test/server/gamesteps/abilityresolver.spec.js
Labels: bug

#1832 Isawa Kaede bugfix
  server/game/conflict.js
  server/game/gamesteps/triggeredabilitywindowtitles.js
Labels: bug

#1834 Bluff cancel prompt bug fix
  server/game/Events/EventWindow.js
  server/game/Events/InitiateAbilityEventWindow.js
  server/game/cards/01-Core/YoungRumormonger.js
  server/game/cards/02.2-FHaG/Kamayari.js
  server/game/game.js
  server/game/gamesteps/SimultaneousEffectWindow.js
  server/game/gamesteps/forcedtriggeredabilitywindow.js
  server/game/gamesteps/setupphase.js
  server/game/gamesteps/triggeredabilitywindow.js
  test/helpers/gameflowwrapper.js
  test/server/card/drawcard.hasKeyword.spec.js
  test/server/cards/01-Core/ForgedEdict.spec.js
  test/server/cards/cancreatecards.spec.js
Labels: bug
